*{    margin: 0;padding: 0;box-sizing: border-box;
    list-style: none;text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* color */
    --colorWhite: rgb(255, 255, 255);
    --colorblack: rgb(0, 0, 0);
    --colorRed: rgb(255, 0, 0);
    --colorGreen: rgb(0, 255,0);
    --colorCrimson: rgb(222, 15, 81);
    --colorAqua: rgb(1, 255, 238);
    --colorPurple: rgb(61, 17, 119);
    --colorBlue: rgb(30, 7, 164);
    --colorGrey: rgb(113, 112, 112);
    /* end of color */
    /* color transparent of white,balck,grey */
    --colorWhite: rgba(255, 255, 255, 0.155);
    --colorblack: rgba(0, 0, 0, 0.176);
    --colorGrey: rgba(113, 112, 112, 0.205);
     /* start elemetn color */
     --bodyBg: rgb(6, 2, 28);
     --bodyFOnt: rgb(252, 252, 252);
     --bodyFOntLight: rgba(177, 173, 195, 0.229);
     --ContainerBg: rgba(10, 9, 26, 0.943);
     --boxBg:rgba(68, 56, 115, 0.252);
     --boxBorder:rgba(74, 73, 80, 0.252);
     --boxShadow:rgba(58, 29, 106, 0);
     --primaryColor:rgb(255,100,0);
     --secondaryColor:rgba(24, 187, 100, 0.986);
     --scrollbarBgColor:rgba(21, 2, 47, 0.986);
     --scrollbarThumbColor:rgba(249, 243, 254, 0.278);
     --gradientBg1:linear-gradient(to top right,var(--ContainerBg),var(--boxBg));

}
html{scroll-behavior: smooth;}
body{width:100%;height:100vh;margin: 0;padding:0 .5rem;background-color:var(--bodyBg);color: var(--bodyFOnt);position: relative;}

#nav{position: fixed;top:0;left:0;width:100%;z-index: 100;background-color: var(--bodyBg);border: 1px solid var(--boxBorder);padding:.4rem;}

#nav .navTitle{font-size:1.7rem;padding:.5rem;font-weight:500;}
#nav ul li{margin:.5rem .6rem;padding:.4rem .6rem;border-radius:.3rem;transition: all .3s;background-color: var(--primaryColor);border: 1px solid var(--boxBorder);color: var(--bodyFOnt);font-size: 1.2rem;}
#nav ul li a{color: var(--bodyFOnt);}
#nav ul li:hover{background-color: var(--boxBg);transition: all .3s;}

.section{position: relative;width:100%;min-height:40vh;background-color: var(--boxBg);margin:1rem 0;padding:1rem;border: 1px solid var(--boxBorder);border-radius:.2rem;}
#section-aboutMe{position: relative;margin-top:12rem;} 
#aboutMeDescription{font-size:1.2rem;}
#portfolio-image{width:10rem;height: 10rem;position:absolute;top:0;left:50%;transform: translate(-50%,-50%);border:1rem solid var(--bodyBg);border-radius:50%;}
#portfolio-image img{width:100%;height:100%;object-fit: cover;border-radius:50%;border: 1px solid var(--boxBorder);}
#aboutMeDescription{width:80%;}
.tableDiv{width:100%;}
.tableDiv table{border: 1px solid var(--boxBorder);width:90%;padding:2rem;border-collapse: collapse;}
thead th,tbody td{text-align: center;padding:1rem;border: 1px solid var(--boxBorder);}


#skills i{font-size:4rem;margin:0 2rem;color: var(--bodyFOntLight);}
#skills li span{font-size:1.2rem;}

#socialLinks{width: 50%;}
textarea{resize: none;width:400px;height:200px;}
#socialLinks a i{font-size: 2rem;cursor: pointer;margin:0 .4rem;}


#skills i:hover,#socialLinks a i:hover{color: var(--bodyFOnt);}



/* responsive font */
@media(max-width:1000px){:root{font-size: 15px;}}
@media(max-width:800px){:root{font-size: 14px;}}
@media(max-width:600px){:root{font-size: 13px;}}
@media(max-width:500px){:root{font-size: 12px;}}
@media(max-width:400px){:root{font-size: 11px;}}




